/* Main Stylesheets */
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:300,300i,400,400i,500,500i,700,700i');

* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background-color: #f3f3f3;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;

  }
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 22px;
  }
h4 {
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}


/* main */

.main-container {
  height: 100vh;
  background-color: #f3f3f3;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 150px auto 50px 100px;
  grid-template-areas:
    "a a d d d d d d d d b b"
    "a a x e e c c f f y b b"
    "g g x h h h h h h y i i"
    "g g x l l l l l l y i i"
    "g g m m m m m m m m i i"
    "g g m m m m m m m m i i";
}

.profile-image {
  grid-area: c;
  height: auto;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 200px;
  overflow: hidden;
}

.name-left {
  text-align: right;
  margin: auto 0;
  grid-area: e;
}

.name-right {
  text-align: left;
  margin: auto 0;
  grid-area: f;
}

.self-text-box {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 35px 50px 25px 50px;
  text-align: justify;
  grid-area: h;

}

.link-line {
  grid-area: l;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "a b c";
}


.link-web,.link-design,.link-emails {
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.link-web {
  grid-area: a;
  text-align: left;
  margin: auto 0;
}
.link-design {
  grid-area: b;
}
.link-emails {
  grid-area: c;
  text-align: right;
  margin: auto 0;
}

.portfolio-stage {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 50px auto 50px auto 50px;
  grid-template-areas:
    "a a d d d d d d d d b b"
    "a a f f f f f f f f b b"
    "a a g g g g g g g g b b"
    "a a h h h h h h h h b b"
    "a a e e e e e e e e b b"
    "i i i i i i i i i i i i";
}



.webdev-section {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 20px 50px auto;
}
.graphic-design-section {
  grid-area: g;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 20px 50px auto;
}
.emails-section {
  grid-area: e;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 20px 50px auto;
}

.section-title {
  grid-column: 1 / 13;
  grid-row: 1;
  font-size: 18px;
  border-bottom: 3px solid #222222;
}
.item-section-a {
  margin: auto 0 ;
  grid-column: 1 / 13;
  grid-row: 3;
}

.item-a-photo {
  grid-column: 1 / 6;
  grid-row: 4;
  padding-top: 20px;
}

.item-description {
  grid-column: 6 / 13;
  grid-row: 4;
  padding-left: 20px;
}
.item-photo {
  box-shadow: 0 0 3px #222222, 0 0 10px #f3f3f3;
  border-radius: 8px;
  width: 100%;
}
