/* Main Stylesheets */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Slabo+27px');


* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

nav {
  width: 100%;
  background-color: white;
  padding: 3rem 5rem;
  padding-bottom: 0;
  display: flex;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 300;
  color: #222222;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: #222222;
  margin-bottom: 2.6rem;
  margin-top: 5.8rem;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: #222222;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.6rem;
}



.color-green {
  color: #C02942;
}

/* Nav */
.profile-img {
  max-height: 80px;
  max-width: 80px;
  border-radius: 50px;
  margin-right: 5rem;
  flex: 1;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  filter:contrast(90%) saturate(70%);
}

.nav-links-container {
  flex: 1;
  margin: auto 0;
}

.nav-link {
  display: inline;
  font-style: italic;
  margin-right: 2em;
}

/* Header */


header {
  width: 100%;
}

.header-callout-container {
  padding: 10rem 0;
  max-width: 60%;
  margin: 3rem auto;
  margin-bottom: 0;
  line-height: 4.5rem;
}

.header-img {
  display: block;
  max-height: 175px;
  max-width: 175px;
  border-radius: 200px;
  margin: 0 auto;
}

.header-bubbles-container {
  max-width: 100%;
  padding: 2rem 15%;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f3f3;
}

.header-bubble {
  flex: 1;
  max-height: 165px;
  max-width: 165px;
  border-radius: 300px;
}

/* main */

main {
  max-width: 70%;
  margin: 5rem auto;
  height: 100vh;
}
