
/* Main Stylesheets */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Slabo+27px');


* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: white;
}



h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 300;
  color: #353634;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: #353634;
  margin-bottom: 2.6rem;
  margin-top: 5.8rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: #353634;
  margin-bottom: .4rem;
  margin-top: 1rem;


}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.6rem;
}



.color-green {
  color: #F25C5E;
}

/* Nav */
.profile-img {
  max-height: 80px;
  max-width: 80px;
  border-radius: 50px;
  margin: 0 5rem;
  flex: 1;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
}
nav {
  width: 100%;
  background-color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.nav-container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.left{
  text-align: left;
}
.right{
  text-align: right;

}

#navProject {
  margin-right: 0;
}

.nav-links {
  flex: 1;
  margin: auto;
}

.nav-container h3 {
  display: inline;
  font-weight: 300;
  font-size: 2.2rem;
  margin-right: 1.5em;
}

.nav-container a {
  color: #222222;
  text-decoration: none;
}

/* Header */


header {
  width: 100%;
  background-color: #FBFBFB;
}

.header-callout-container {
  padding: 6rem 0;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 0;
  line-height: 4.5rem;
}

.header-img {
  display: block;
  max-height: 175px;
  max-width: 175px;
  border-radius: 200px;
  margin: 0 auto;
}

.header-bubbles-container {
  max-width: 100%;
  padding: 2rem 15%;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f3f3;
}

.header-bubble {
  flex: 1;
  max-height: 165px;
  max-width: 165px;
  border-radius: 300px;
}

/* main */
main.projects {
  margin-top: 0;
}
main {
  width: 900px;
  margin: 5rem auto;
  height: 100%;
}


.tag-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.tag {
  margin-top: 0rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  line-height: 2.5rem;
  padding-top: 0;
  font-size: 1.6rem;
  color: white;
  opacity: 0.9;
  border-radius: .2rem;
  background-color: #F25C5E;
  display: inline-flex;
  margin-right: 1.8rem;
}

.project {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-size: 2.8rem;
}

.project-img-container {

}
.project-img {
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  max-width: 75%;
  display: block;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

hr {
  border: 0;
  border-bottom: .2rem solid #f3f3f3;
}


footer {
  height: auto;
  padding: .5rem 0;
  border-top: 1px solid silver;
  background-color: #f3f3f3;
}
.footer-container {
  width: 900px;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.process-container {
  margin-bottom: 15rem;
}
.title-h3 {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.projects-grid {
  display: grid;
  width: 100%;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 200px));
  grid-template-rows: 200px;
  margin: 5.8rem 0;
}

.projects-grid div {
  color: white;
  width: 200px;
  height: 200px;
  overflow:hidden;
  border-radius: 1rem;
  display: flex;
  justify-content:center;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
  transform: translateY(0);
  filter: contrast(70%) brightness(115%);

}

.projects-grid img {
  height: auto;
  max-height: 200px;
  max-width: 200px;
}
.col-one {
  grid-column: 1 / 2;
}
.col-two {
  grid-column: 2 / 3;
}
.col-three {
  grid-column: 3 / 4;
}
.col-four {
  grid-column: 4 / 5;
}
.row-one {
  grid-row: 1;
}
.row-two {
  grid-row: 2;
}

.left-full {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.middle-full {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.right-full {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}
.closing-container {
    padding-bottom: 5rem;
}
.closing-container span {
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 3.6rem;
}
.type-grid {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content:center;
  color: white;
}
.type-grid div {
  height: 150px;
  width: 150px;
  border-radius: 1rem;
  font-family: Roboto;
  font-size: 5rem;
  line-height: 150px;
  text-align: center;
}
.type-left {
  background-color: #853C43;

}

.type-middle {
  margin: 0 50px;
  background-color: #F25C5E;
}

.type-right {
  background-color: #FFA566;
}
